[Unit]
Description=sruns monitor daemon
Documentation=https://pypi.org/project/sruns-monitor

[Service]
Type=simple
ExecStartPre=/usr/bin/gcloud auth configure-docker
ExecStart=/usr/bin/docker run --pid=host --rm -w /mnt/disks/smon -v /mnt/disks/smon:/mnt/disks/smon -v /mnt/sequencing/hdd/NovaSeq_A00731:/mnt/sequencing/hdd/NovaSeq_A00731 -v /mnt/sequencing/hdd/NovaSeq_A00737:/mnt/sequencing/hdd/NovaSeq_A00737  gcr.io/cgsdevelopment-1216/sruns-monitor@sha256:b12222a3b5afc2f769fbbec997a71df99e11ef5f8a5f376aaa169674545b0e6f -c /mnt/disks/smon/smon.conf

[Install]
WantedBy=multi-user.target
