[Unit]
Description=sruns monitor daemon
Documentation=https://pypi.org/project/sruns-monitor

[Service]
Type=simple
ExecStartPre=/usr/bin/gcloud auth configure-docker
ExecStart=/usr/bin/docker run --rm -w /tmp/smon -v /tmp/smon:/tmp/smon -v /mnt/testruns/NovaSeq_A00731/:/mnt/testruns/NovaSeq_A00731/ -v /mnt/testruns/NovaSeq_A00737/:/mnt/testruns/NovaSeq_A00737/ gcr.io/cgsdevelopment-1216/sruns-monitor@sha256:13853060207ffaab89e60b02ce945883141f94a274f011e2dc481c8406dac082 -c /tmp/smon/sruns_mon.conf

[Install]
WantedBy=multi-user.target
